@import '../components/stylesheets/colors.scss';

body {
  background: wheat;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  z-index: 1;

  .app-container {
    margin: 0;
    height: 100%;
    width: auto;
    position: relative;
  }

  .component {
    background: green;
    width: 80%;
    min-height: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.5s linear;

    &.expanded {
      width: 95%;
    }
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 250px;
    height: 100%;
    list-style: none;
    background: $glitter;
    transition: width 0.5s linear;
    margin: 0;

    &.expanded {
      width: 20%;
    }

    &.collapsed {
      width: 5%;
    }
  }

  // .footer {
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  //   height: 16px;
  //   color: $dark-purple;
  //   background: $tangerine;
  //   text-align: center;
  //   border-top: 1px solid $dark-purple;
  // }
}
